<!DOCTYPE html>

<htm>
<head>
     <link rel="icon" href="/img/weather.png">
    <title>{{title}}</title>
    <link rel='stylesheet' href="/css/styles.css">
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>This was created 4 Learning </p>
    <img class="portrait" src="/img/me.jpg">
</div>
{{>footer}}
</body>



</htm>


